[tool:bumpversion]
current_version = 1.0.0-b4
commit = True
tag = True
tag_name = v{new_version}
message = Bump version to {new_version}

[tool:bumpversion:file:cij/version.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
