.rst-content table.docutils th p:last-child,
.rst-content table.field-list th p:last-child {
    margin-bottom: 0px;
}

.wy-table tbody,
.rst-content table.docutils tbody,
.rst-content table.field-list tbody {
    text-align: left;
}

.rst-content .section ol li>ol,
.rst-content .section ol li>ul,
.rst-content .section ul li>ol,
.rst-content .section ul li>ul {
    margin-bottom: 0;
    margin-top: 0;
}